  @media(min-width:768px) and (max-width:991px) {
  .hero-img {
    margin-left: 0
  }
}

@media(max-width:991px) {
  .hero-area {
    text-align: center;
    margin-left: 0 auto
  }
  .hero-img {
    top: 50%;
    left: 50%;
    width: 360px;
    height: 360px;
    margin-top: 80px;
    margin-left: -140px
  }
  .hero-area {
    padding: 150px 0 100px 0
  }
  .service-offers {
    margin-top: 520px
  }
  .service-illustration img {
    top: 0;
    right: 120px
  }
  .offer p {
    margin-right: 0;
    padding: 0 150px
  }
  .offer {
    text-align: center
  }
  .separator {
    float: none;
    margin: 0 auto
  }
  .offer img {
    float: none;
    margin: 0 auto;
    padding-bottom: 20px
  }
  .stats-info {
    margin: 30px 90px 0 90px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
  }
  .stats-box {
    padding-top: 40px;
    padding-bottom: 50px
  }
  .about-illustration img {
    margin: 0 auto
  }
  .about-info {
    text-align: center
  }
  .quote-box {
    margin-bottom: 25px
  }
  .about-info i {
    padding: 17px
  }
  #services {
    padding: 60px 0 0 0
  }
  #about {
    padding: 50px 0 0 0
  }
  #portfolio {
    padding: 50px 0
  }
  #blog {
    padding: 40px 0
  }
  #pricing {
    padding: 40px 0
  }
  .title {
    margin-bottom: 50px
  }
  .form-box {
    padding: 20px 40px
  }
  .popular-info {
    text-align: left
  }
  .popular-img {
    display: none
  }
  .post-quote {
    padding: 10px 20px
  }
  .post-avatar img {
    margin-bottom: 10px
  }
  .work-info-box {
    padding: 40px 25px;
    margin-top: 20px
  }
  .portfolio-illustration {
    min-height: 280px
  }
  .portfolio-illustration img {
    top: 20px;
    left: 30%
  }
  .blog-post-article {
    padding-top: 30px
  }
  #work {
    padding-top: 130px
  }
  .work-info-box {
    float: left;
    min-width: 250px
  }
}

@media(max-width:767px) {
  .navbar-header {
    padding: 0 30px
  }
  .le-navbar {
    background-color: #ffffff;
    height: 80px;
    padding: 15px 0
  }
  @supports(-ms-ime-align:auto) {
    .le-navbar {
      opacity: 1
    }
  }
  @media screen and (min-width:0\0) and (min-resolution:+72dpi) {
    .le-navbar {
      opacity: 1
    }
  }
  .nav-responsive {
    top: 112px;
  }
  .form-box{
    border-image: 0;
  }
  .navbar-collapse {
    background-color: #fff;
    font-family: 'Roboto', 'Quicksand', sans-serif;
    font-weight: bold;
    margin-top: 40px;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 420px!important;
    text-align: right;
    height: auto!important;
    overflow: hidden;
    border: 0;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
  }
  .shrink .navbar-collapse {
    margin-top: 0;
  }
  .navbar-collapse .navbar-nav{
    margin-top: 20px!important;
  }
  .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    height: 100vh!important;
  }
  .navbar-default .navbar-nav>li>a {
    color: #4d5168;
    text-transform: uppercase;
  }

  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #4d5168;
    background: #cbfa14;
    background: -moz-linear-gradient(left, rgba(203, 250, 20, 1) 0, rgba(9, 215, 203, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(203, 250, 20, 1) 0, rgba(9, 215, 203, 1) 100%);
    background: linear-gradient(to right, rgba(203, 250, 20, 1) 0, rgba(9, 215, 203, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbfa14', endColorstr='#09d7cb', GradientType=1)
  }
  .navbar-nav>li>a {
    font-size: 20px;
    margin: 2px 20px;
    line-height: 5px
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #4d5168
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #4d5168;
    background: #cbfa14;
    background: -moz-linear-gradient(left, rgba(203, 250, 20, 1) 0, rgba(9, 215, 203, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(203, 250, 20, 1) 0, rgba(9, 215, 203, 1) 100%);
    background: linear-gradient(to right, rgba(203, 250, 20, 1) 0, rgba(9, 215, 203, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbfa14', endColorstr='#09d7cb', GradientType=1)
  }
  .dropdown-menu>li>a {
    padding: 0;
    color: #4d5168;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 20px;
    padding: 12px 20px;
    font-weight: bold;
    line-height: 5px
  }
  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 16px
  }
  .dropdown-menu {
    float: none;
    padding: 0;
    border: 0;
    position: relative;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .dropdown-menu>li>a:hover {
    color: #4d5168
  }
  .hero-title {
    padding-top: 48px;
  }
  .hero-area {
    padding: 100px 0 120px 0
  }
  .service-illustration img {
    top: 50%;
    left: 50%;
    width: 400px;
    height: auto;
    margin-left: -200px
  }
  .service-offers {
    margin-top: 430px
  }
  .img-box {
    max-width: 370px;
    margin: 0 auto
  }
  .partner-logo {
    padding: 30px 0
  }
  .form-control::-webkit-input-placeholder {
    text-align: left;
  }
  .form-control:-moz-placeholder {
    text-align: left;
  }
  .form-control::-moz-placeholder {
    text-align: left;
  }
  .form-control:-ms-input-placeholder {
    text-align: left;
  }
  .form-control::-ms-input-placeholder {
    text-align: left;
  }
  .form-label {
    text-align: left;
  }
  input {
    text-align: left;
  }
  textarea {
    text-align: left;
  }
  .contac-title {
    margin-top: 50px
  }
  .footer {
    padding-top: 50px
  }
  .form-box {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
  }
  .blog-post-article {
    padding: 30px 30px 0 30px
  }
  #blog-page {
    padding-top: 100px
  }
  #blog-post {
    padding-top: 100px
  }
  .blog-navigation {
    text-align: center
  }
  .sidebar {
    float: none!important;
    text-align: center;
    margin: 0 auto
  }
  .sidebar a {
    text-align: center
  }
  .advertise {
    text-align: center;
    margin: 0 auto
  }
  .popular-info {
    text-align: center
  }
  .image-row img {
    margin: 0 auto;
    margin-bottom: 25px
  }
  #work {
    padding-top: 120px
  }
  .work-info {
    padding: 0 50px
  }
  .work-info-box {
    margin: 10px 30px
  }
  .portfolio {
    padding-top: 120px
  }
  .contact--us{
    text-align: center;
    margin-bottom: 4rem;
  }
}

@media(max-width:640px) {
  .offer p {
    padding: 0 80px
  }
  .portfolio-illustration img {
    left: 20%
  }
  .work-info-box {
    text-align: center;
    float: none;
    min-width: 150px
  }
  #loader{
    margin: -75px 0 0 -85px!important;
  }
}

@media(max-width:480px) {
  .navbar-header {
    padding: 0 25px
  }
  .hero-img {
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    margin-top: 48px;
    margin-left: -80px
  }
  h1 {
    font-size: 40px;
    line-height: 46px
  }
  h2 {
    font-size: 25px;
    line-height: 30px
  }
  h3 {
    font-size: 20px;
    line-height: 25px
  }
  h4 {
    font-size: 18px;
    line-height: 28px
  }
  h5 {
    font-size: 15px;
    line-height: 26px
  }
  h6 {
    font-size: 13px;
    line-height: 24px
  }
  .hero-area {
    padding: 80px 0 0 0;
    min-height: 780px
  }
  .service-illustration img {
    width: 300px;
    margin-left: -150px
  }
  .offer {
    margin-bottom: 45px;
    margin-top: 10px
  }
  .offer p {
    padding: 0 20px
  }
  .service-offers {
    margin-top: 300px
  }
  .stats-box {
    padding-top: 20px;
    padding-bottom: 25px
  }
  .stats-info {
    margin: 30px 30px 0 30px
  }
  .title {
    margin-bottom: 40px
  }
  .btn-style {
    margin-top: 20px
  }
  .partners {
    padding: 30px 0
  }
  .quotes {
    padding: 35px 0
  }
  .blog-box img {
    display: none
  }
  .blog-info {
    padding-left: 15px
  }
  #pricing {
    padding: 40px 0
  }
  footer i {
    padding: 20px;
    font-size: 30px
  }
  .blog-box {
    text-align: center
  }
  .blog-btn {
    margin-top: 40px
  }
  .form-box {
    padding: 10px 20px
  }
  .article-info {
    text-align: center
  }
  .blog-navigation {
    text-align: center
  }
  .advertise {
    margin: 0 auto;
    float: none!important
  }
  .work-info {
    text-align: center
  }
  .portfolio-illustration img {
    left: 20%;
    max-width: 260px
  }
  .portfolio-style {
    margin-top: 40px
  }
  @media(max-width:360px) {
    .navbar-header {
      padding: 0 25px
    }
    .hero-area {
      min-height: 680px
    }
    .hero-img {
      top: 50%;
      left: 50%;
      width: 150px;
      height: 150px;
      margin-top: 80px;
      margin-left: -20px
    }
    .service-illustration img {
      width: 250px;
      margin-left: -120px
    }
    .service-offers {
      margin-top: 250px
    }
    .title {
      margin-bottom: 40px
    }
    .offer {
      margin-bottom: 45px;
      margin-top: 20px
    }
    .stats-info {
      margin: 30px 0 0 0
    }
    .about-info i {
      padding: 12px
    }
    .quote-box img {
      float: none;
      margin-bottom: 10px
    }
    .quote-box {
      text-align: center
    }
    .contact-info {
      float: none
    }
    footer i {
      padding: 15px;
      font-size: 25px
    }
    footer p {
      font-size: 13px
    }
    #contact-form .btn-style a {
      font-size: 13px;
      padding: 15px 30px
    }
    .portfolio-illustration img {
      top: 20px;
      left: 5%
    }
    #blog-post {
      padding-top: 90px
    }
  }
